<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Результат</title>
    <link rel="stylesheet" media="all" th:href="@{/vue/vuetify.min.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{/vue/vue.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-resource@1.5.1}"></script>
    <script type="text/javascript" th:src="@{/vue/vuetify.js}"></script>
    <script type="text/javascript" th:src="@{/vue/Chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-chartjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/vue/vue-resource@1.5.1}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
</head>
<body>
<h3>
    Список ответов
</h3>

<div id="app">
    <header>
        <h1 v-text="sitename"></h1>
    </header>
<!---->
    <button v-on:click="renameT" > rename</button>
    <div v-text="sitename"></div>
</div>

<script th:src="@{/vue/js/main.js}"></script>

</body>
</html>