<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/tether/tether.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-reboot.min.css}"/>
    <link rel="stylesheet" th:href="@{/dropdown/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/socicon/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/theme/css/style.css}"/>
    <link rel="preload" as="style" th:href="@{/mobirise/css/mbr-additional.css}"/>
    <link rel="stylesheet" th:href="@{/mobirise/css/mbr-additional.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
</head>
<body>
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg" th:fragment="adminHeader">
        <div class="container-fluid">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://73.мвд.рф">
                        <img th:src="@{/images/logo.png}" alt="УМВД" style="height: 3.8rem;"/>
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7 text-uppercase" th:href="@{/opros}">Управление МВД России по Ульяновской области</a>
                  </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" th:href="@{/opros}">Опрос</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link link text-black display-4" th:href="@{/rezult}">Результат</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link link text-black display-4" th:href="@{/allOtvet}">Список голосов</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link link text-black display-4" th:href="@{/logout}">Выйти</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link link text-black display-4" th:href="@{/login}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
